.top {
    width: 10%; height: 10%
}
.middle {
    width: 8%; height: 8%
}
.principal {
width: 100%
}
.tdot {
    float:right;
}

.block{
    display:inline-block
}

.estilo{
    text-align:center
}

.estilo1{
    text-align:justify
}